extends layout

block content
		div(class='magnify')
			div(class='large')
				canvas(id='routeCanvas')
			img(class='small fade', src='/images/ukk-small.png')
			img(class='loader', src='/images/loader.gif')
