extends layout

block content
	div(class='commands')
		span Day: 
		select(id='day') 
	
	div(class='magnify')
		div(class='large')
			canvas(id='routeCanvas')
		img(class='small fade', src='/images/ukk-small.png')
		img(class='loader', src='/images/loader.gif')
